{% extends "cms/basefront.html" %}

{% load i18n static %}

{% block extra_css %}  
<link rel="stylesheet" href="{% static 'cms/css/quest-card.css' %}">
{% endblock %}

{% block title %}Quest List{% endblock title %}


{% block content %}
<!--
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">MHRise: Speedrun share</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Quest<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Submit</a>
      </li>
    </ul>
  </div>
</nav>
-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="{% url 'cms:quest_list' %}">MHRise: Speedrun share</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {% if nav == 'Q' %}
      <li class="nav-item active">
      {% else %}
      <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="{% url 'cms:quest_list' %}">Quest{% if not about %}<span class="sr-only">(current)</span>{% endif %}</a>
      </li>
      {% if nav == 'R' %}
      <li class="nav-item active">
      {% else %}
      <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="{% url 'cms:about' nav='rules' %}">Rules</a>
      </li>
      {% if nav == 'S' %}
      <li class="nav-item active">
      {% else %}
      <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="{% url 'cms:about' nav='submit' %}">Submit</a>
      </li>
      {% if nav == 'A' %}
      <li class="nav-item active">
      {% else %}
      <li class="nav-item">
      {% endif %}
        <a class="nav-link" href="{% url 'cms:about' nav='site' %}">About</a>
      </li>
    </ul>
  </div>
</nav>
    <!--<h4 class="mt-4 border-bottom">Quest List</h4>
    <a href="{% url 'cms:quest_add' %}" class="btn btn-primary btn-sm my-3">Add</a>
    -->



    <div class="card-list" >
    {% for quest in quests %}
        <div class="quest-card">
            {% with 'cms/monster_icon/'|add:quest.target.imagepath as image_static %}
            <img src="{% static image_static %}" alt={{quest.target.monstername}}>
            {% endwith %}
            <div class="quest-card__link">
                <a href="{% url 'cms:record_list' quest_id=quest.id party='solo' weapon='all' rule='all' platform='switch' %}">{{ quest.rank }} {{ quest.questname}}<span>({{ quest.recordnum }})</span><br>
                {{ quest.questname_j }}
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}