{% extends "cms/basefront.html" %}

{% load i18n static %}

{% block extra_css %}  
<link rel="stylesheet" href="{% static 'cms/css/quest-card.css' %}">
{% endblock %}

{% block title %}Quest List{% endblock title %}


{% block content %}


    <!--<h4 class="mt-4 border-bottom">Quest List</h4>
    <a href="{% url 'cms:quest_add' %}" class="btn btn-primary btn-sm my-3">Add</a>
    -->

    <div class="card-list" >
    {% for quest in quests %}
        <div class="quest-card">
            {% with 'cms/monster_icon/'|add:quest.target.imagepath as image_static %}
            <img src="{% static image_static %}" alt={{quest.target.monstername}}>
            {% endwith %}
            <div class="quest-card__link">
                <a href="{% url 'cms:record_list' quest_id=quest.id party='solo' weapon='all' rule='all' platform='switch' %}">{{ quest.rank }} {{ quest.questname}}<span>({{ quest.recordnum }})</span><br>
                {{ quest.questname_j }}
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock content %}