{% extends "cms/base.html" %}
{% load bootstrap4 %}

{% block title %}Record Edit{% endblock title %}

{% block content %}

    <h4 class="mt-4 mb-5 border-bottom">Record Edit</h4>

    {% if noconf %}
    <h5 class="mt-4 text-danger">
    You can't delete the record after you submit! <br>
    Please check your input again.
    </h5>
    {% endif %}
 
    {% if record_id %}
    <form action="{% url 'cms:record_mod' quest_id=quest_id record_id=record_id conf=1 %}" method="post">
    {% else %}
      {% if noconf %}
      <form action="{% url 'cms:record_add' quest_id=quest_id %}" method="post">
      {% else %}
      <form action="{% url 'cms:record_add' quest_id=quest_id conf=1 %}" method="post">
      {% endif %}
    {% endif %}
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
    <a href="{% url 'cms:record_list' quest_id=quest_id party='solo' weapon='all' rule='all' platform='switch' %}" class="btn btn-secondary btn-sm">Return</a>
{% endblock content %}
