{% extends "cms/base.html" %}

{% load i18n static %}

{% block extra_css %}  
<link rel="stylesheet" href="{% static 'cms/css/quest-card.css' %}">
{% endblock %}

{% block title %}Record List{% endblock title %}

{% block content %}



{% load tpfilters %}
{% load humanize %}

    <h4 class="mt-4 border-bottom">Record List<!--<small class="text-muted ml-3">{{ quest.questname}}</small>--></h4>

    {% if alert == 'D' %}
    <h5 class="text-danger">You don't have the access right to the record.</h5>
    {% endif%}


        <div class="mt-4 text-normal">
          <div class="quest-card-recordlist" >
              {% with 'cms/monster_icon/'|add:quest.target.imagepath as image_static %}
              <img src="{% static image_static %}" alt={{quest.target.monstername}}>
              {% endwith %}
              <div >
                  {{ quest.rank }} {{ quest.questname}}<span>({{ quest.recordnum }})</span><br> 
                  {{ quest.questname_j }}
                  </a>
              </div>
          </div>
        </div>
    
        <div class="row ml-0 flex-nowrap">
          <div class="dropdown ml-0">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ st.weapon_name }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for itr in weapon_list %}
              <a class="dropdown-item" href="{% url 'cms:record_list' quest_id=quest.id party=st.party weapon=itr.urlname rule=st.rule platform=st.platform %}">{{ itr.name }}</a>
            {% endfor %}
            </div>
          </div>
          <div class="dropdown ml-3">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
            {{ st.party_name }}
            
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for itr in party_list %}
              <a class="dropdown-item" href="{% url 'cms:record_list' quest_id=quest.id party=itr.urlname weapon=st.weapon rule=st.rule platform=st.platform %}">{{ itr.name }}</a>
            {% endfor %}
            </div>
          </div>
          <div class="btn-group btn-group-toggle ml-3" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="options" id="option1" autocomplete="off" onclick="location.href='{% url 'cms:record_list' quest_id=quest.id party=st.party weapon=st.weapon rule='all' platform=st.platform %}'" {{ st.free }} > FreeStyle
            </label>
            <label class="btn btn-primary active">
              <input type="radio" name="options" id="option1" autocomplete="off" onclick="location.href='{% url 'cms:record_list' quest_id=quest.id party=st.party weapon=st.weapon rule='ta-wiki' platform=st.platform %}'" {{ st.tawiki }} > TAwiki
            </label>
            <label class="btn btn-primary active">
              <input type="radio" name="options" id="option1" autocomplete="off" onclick="location.href='{% url 'cms:record_list' quest_id=quest.id party=st.party weapon=st.weapon rule='production' platform=st.platform %}'" {{ st.product }} > Product 
            </label>
         
          </div>
          <div class="btn-group btn-group-toggle ml-3" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="options" id="option1" autocomplete="off" onclick="location.href='{% url 'cms:record_list' quest_id=quest.id party=st.party weapon=st.weapon rule=st.rule platform='all' %}'" {{ st.plat_all }}>All
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off" onclick="location.href='{% url 'cms:record_list' quest_id=quest.id party=st.party weapon=st.weapon rule=st.rule platform='switch' %}'" {{ st.switch }} >Switch
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off" onclick="location.href='{% url 'cms:record_list' quest_id=quest.id party=st.party weapon=st.weapon rule=st.rule platform='pc' %}'" {{ st.pc }} >PC
            </label>
          </div>
          <div class="btn-group btn-group-toggle ml-3" data-toggle="buttons">
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option1" autocomplete="off" onclick="location.href='{% url 'cms:record_list' quest_id=quest.id party=st.party weapon=st.weapon rule=st.rule platform=st.platform %}'" {{ st.record_list }} >List
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option1" autocomplete="off" onclick="location.href='{% url 'cms:weapon_rank' quest_id=quest.id party=st.party rule=st.rule platform=st.platform %}'" {{ st.summary }} > WeaponRank
            </label>
          </div>
        </div>

    <a href="{% url 'cms:record_add' quest_id=quest.id %}" class="btn btn-primary btn-sm my-3">Submit</a>
    <!-- <a href="{% url 'cms:quest_list' %}" class="btn btn-secondary btn-sm">戻る</a> -->
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Runner</th>
          <th>Time</th>
          <th>Weapon</th>
          <th>PT</th>
          <th>Rule</th>
          <th>Platform</th>
          <th>Date</th>
          <th>Problems</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          <td>{{ record.runner }}</td>
          <td><a href="{{ record.link }}" target="_blank" rel="noopener noreferrer" class="text-primary">{{ record.cleartime | duration }}</a></td>
          <td>
          {% with 'cms/weapon_icon/'|add:record.weapon.imagepath as image_static %}
            <img src="{% static image_static %}" height=30 alt={{record.get_weapon_display}}>
          {% endwith %}
          </td>
          <td>{{ record.get_party_display }}</td>
          <td>{{ record.get_rules_display }}</td>
          <td>{{ record.get_platform_display }}</td>
          <td>{{ record.regist_date|naturaltime }}</td>
          <td>{{ record.problems }}</td>
          <td>
            <a href="{% url 'cms:issue_submit' quest_id=quest.id record_id=record.id %}" class="btn btn-outline-primary btn-sm">issue</a>
            <!-- <button class="btn btn-outline-danger btn-sm del_confirm" data-toggle="modal" data-target="#deleteModal" data-pk="{{ record.id }}" data-url="{% url 'cms:record_del' quest_id=quest.id record_id=record.id %}">削除</button>
            -->
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
        {% endif %}
        {% for linkpage in page_obj.paginator.page_range %}
          {% ifequal linkpage page_obj.number %}
            <li class="page-item active"><a class="page-link" href="#">{{ linkpage }}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ linkpage }}">{{ linkpage }}</a></li>
        {% endifequal %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

    

    {# 削除を確認するモーダル ダイアログ #}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">確認</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <p>ID: <span id="del_pk"></span> を削除しますか？</p>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-primary" id="del_url">OK</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script>
$(function() {
  $('.del_confirm').on('click', function () {
     $("#del_pk").text($(this).data("pk"));
     $('#del_url').attr('href', $(this).data("url"));
  });
});
</script>
{% endblock %}