{% extends "cms/base.html" %}

{% load i18n static %}
{% load bootstrap4 %}

{% block extra_css %}  
<link rel="stylesheet" href="{% static 'cms/css/quest-card.css' %}">
{% endblock %}

{% block title %}Record Edit{% endblock title %}

{% block content %}

    <h4 class="mt-4 mb-5 border-bottom">Record Edit</h4>

    <div class="quest-card" style="margin:6px 0px 24px 0px;">
        {% with 'cms/monster_icon/'|add:quest.target.imagepath as image_static %}
        <img src="{% static image_static %}" alt={{quest.target.monstername}}>
        {% endwith %}
        <div class="quest-card__link">
            <a href="{% url 'cms:record_list' quest_id=quest.id party='solo' weapon='all' rule='all' platform='switch' %}">{{ quest.rank }} {{ quest.questname}}<span>({{ quest.recordnum }})</span><br>
            {% comment %} {{ record.quest.rank }} {{ record.quest.questname}}<span>({{ record.quest.recordnum }})</span><br> {% endcomment %}
            {{ quest.questname_j }}
            </a>
        </div>
    </div>

    {% if noconf %}
    <h5 class="mt-4 text-danger">
    Please check your input again!
    </h5>
    {% endif %}
 
    {% if record_id %}
      {% if noconf %}
      <form action="{% url 'cms:record_mod' quest_id=quest_id record_id=record_id %}" method="post">
      {% else %}
      <form action="{% url 'cms:record_mod' quest_id=quest_id record_id=record_id conf=1 %}" method="post">
      {% endif %}
 
    {% else %}
      {% if noconf %}
      <form action="{% url 'cms:record_add' quest_id=quest_id %}" method="post">
      {% else %}
      <form action="{% url 'cms:record_add' quest_id=quest_id conf=1 %}" method="post">
      {% endif %}
    {% endif %}
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal' %}
      <div class="form-group row">
        <div class="offset-md-3 col-md-9">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
    <!-- <a href="{% url 'cms:record_list' quest_id=quest_id party='solo' weapon='all' rule='all' platform='switch' %}" class="btn btn-secondary btn-sm">Return</a>
    -->
{% endblock content %}
